/* 自定义样式 */
.nut-price__symbol,
.nut-price__integer {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* 确保搜索框背景透明时仍可读 */
.search-input-custom {
  background-color: transparent !important;
}
.nut-menu-bar {
  background-color: transparent !important;
}
.nut-menu-container-content {
  max-height: 100%;
}