.container-index{
  padding: 10px;
  height: 100vh;
  background-color: #f5f5f5;
}
.search-bar{
  margin: 0 !important;
  padding: 10px 0px!important;
  background-color: transparent;
}
.banner{
  border-radius: 10px;
}
.quick-enter{
  margin-top: 10px;
  background-color: #fff;
  padding-top: 10px;
  border-radius: 10px;
}
